table ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

tbody td {
    border: 2px solid black;
    padding: 10px;
}

tr:hover {
    background-color: rgba(114, 182, 255, 0.672);
    cursor: pointer;
}

.book-control {
    width: 24px;
}

.content_blured {
    filter: blur(4px);
}

.book-edit-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(131, 189, 250, 0.338);
}

.book-edit-modal_active {
    display: flex;
}

.book-edit-modal__place{
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.button-done{
    margin-top: 20px;
}