table ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

tbody td {
    border: 2px solid black;
    padding: 10px;
}

tr:hover {
    background-color: rgba(114, 182, 255, 0.672);
    cursor: pointer;
}

.book-control {
    width: 24px;
}
