<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Бибилиотека имени котика</title>
</head>
<body>
    <h1 th:text="#{comments.title}">Список комментариев</h1>
    <p><a
            href="../root.html"
            th:href="@{/books}"
            th:text="#{back}"
    >Назад</a></p>
    <section>
        <article th:each="comment : ${comments}">
            <h4 th:text="${comment.bookTitle}">Наименование книги</h4>
            <p th:text="${comment.text}">Текст коммента</p>
        </article>
    </section>
</body>
</html>